<template>
    <div class="container">
        <div class="row">
            <h3 class="text-start py-4 fw-bold" style='color: gray;'>Coordinator</h3>
            <div class="col py-5" >
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success mx-3" type="submit">Search</button>

                    <div class="btn-group mx-3">
                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            2023
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button"></button></li>
                            <li><button class="dropdown-item" type="button">2022</button></li>
                            <li><button class="dropdown-item" type="button">2021</button></li>
                        </ul>
                    </div>

                    <div class="btn-group mx-3">
                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Spring
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button"></button></li>
                            <li><button class="dropdown-item" type="button">Autumn</button></li>

                        </ul>
                    </div>

                </form>
            </div>

            <div >
                <table class="table">
                    <thead>
                        <tr >
                            <th scope="col" style="background-color: orange;" class="text-white">Tutor</th>
                            <th scope="col" style="background-color: orange;" class="text-white">Module</th>
                            <th scope="col" style="background-color: orange;" class="text-white">Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Mr. Yonten</td>
                            <td>Deep Learning</td>
                            <td>4th Year CS</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Coordinator',
}
</script>