<template>
    <div class="container">
        <h3 class="text-start py-4 fw-bold" style='color: gray;'>Allocations</h3>
        

        <div class="col py-5" >

                    <div class="d-flex justify-content-end">                    
                        <div class="btn-group mx-3">
                            <button type="button" class="btn btn-success dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ selectedYear }}
                                </button>
                                <ul class="dropdown-menu">
                                    <li v-for="year in yearOptions"><button class="dropdown-item" type="button"  @click="selectedYear = year, selectedOption = 0">{{ year }}</button>
                                    </li>
                                                                
                                </ul>
                        </div>

                        <div class="btn-group mx-3">
                            <button type="button" class="btn btn-success dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{ selectedSemester }}
                            </button>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button" @click="selectedSemester = 'Spring', selectedOption = 0 ">Spring</button>
                                </li>
                                <li><button class="dropdown-item" type="button" @click="selectedSemester = 'Autumn', selectedOption = 0 ">Autumn</button>
                                </li>

                            </ul>
                        </div>
                    </div>


            </div>


            <!-- table for allocations -->

            <div >
                
                <table class="table">
                    <thead>
                        <tr >
                            <th scope="col" style="background-color: orange;" class="text-white">Class Hours</th>
                            <th scope="col" style="background-color: orange;" class="text-white">PRJ Groups</th>
                            <th scope="col" style="background-color: orange;" class="text-white">Total Hours</th>
                            <!-- <th scope="col" style="background-color: orange;" class="text-white"></th> -->
                        </tr>
                    </thead>
                    <tbody>
                
                        <tr>
                            <td class="datacursor" @mouseover="showDropdown1 = true" @mouseleave="showDropdown1 = false">
                                <span @click.stop="toggleDropdown1"> {{ hrs.class_hours }}</span>
                                <ul class="uldropdown" v-if="showDropdown1">
                                    <li v-for="(option,index) in cls" :key="index" @click="selectedOption = option.id, selectedOptionType = 'class'">
                                        {{ option.classCode }}
                                    </li>
                                </ul>
                            </td>
                            
                            <td class="datacursor" @mouseover="showDropdown2 = true" @mouseleave="showDropdown2 = false">
                            
                                <span @click.stop="toggleDropdown2"> {{ hrs.prj_groups }}</span>
                                <ul class="uldropdown" v-if="showDropdown2">
                                    <li v-for="(option,index2) in prj" :key="index2" @click="selectedOption = option.id, selectedOptionType = 'prj'">
                                        {{ option.prj_code }}
                                    </li>
                                </ul>
                            </td>
                            <td >{{ hrs.class_hours?hrs.class_hours + hrs.prj_groups:'' }}</td>   
                        </tr>                        
                    </tbody>
                </table>
            </div>
            
            

            
            <!-- table based on option selected -->
            
            <div class="py-4" v-if="selectedOptionType=='class'">
                
                <table class="table">
                    <thead>
                        <tr >
                            <th scope="col" style="background-color: orange;" class="text-white">Module</th>
                            <th scope="col" style="background-color: orange;" class="text-white">Class</th>
                            <th scope="col" style="background-color: orange;" class="text-white">Coordinator</th>
                            <th scope="col" style="background-color: orange;" class="text-white">Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ selectedCLS.module_code }}</td>
                            <td>{{ selectedCLS.classCode }}</td>
                            <td>{{ selectedCLS.userName}}</td>
                            <td>{{ selectedCLS.classHours }}</td>
                        </tr>   
                    </tbody>
                </table>
            </div>
            <div class="py-4" v-if="selectedOptionType=='prj'">
                
                <table class="table">
                    <thead>
                        <tr >
                            
                            <th scope="col" style="background-color: orange;" class="text-white">Class</th>
                            <th scope="col" style="background-color: orange;" class="text-white">PRJ group Code</th>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            <td>{{ selectedPrj.class_code }}</td>
                            <td>{{ selectedPrj.prj_code }}</td>  
                        </tr>  
                    </tbody>
                </table>
            </div>
        <div style="display: flex; justify-content: space-between;">
            <div style="width: 45%; border: 1px solid #ccc; background-color: #F2F2F2; /* Additional styles for the first box */">
                <!-- Content for the first box goes here -->
                <canvas id="classHoursChart"></canvas>
            </div>
            <div style="width: 5%;">
            </div> 
            <!-- Spacer for some space between the boxes -->
            <div style="width: 45%; border: 1px solid #ccc; background-color: #F2F2F2;/* Additional styles for the second box */">
                <!-- Content for the second box goes here -->
                <canvas id="projectHoursChart"></canvas>
            </div>
        </div>
    </div>
</template>


<style>
 .datacursor {
    cursor:pointer;
 }
 .datacursor {
  position: relative;
  cursor: pointer;
}

.uldropdown {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
  width: 100%;
}

.datacursor:hover ul {
  display: block;
}

#classHoursChart,
  #projectHoursChart {
    margin: 20px auto;
    display: block;
  }
</style>

<script setup>

import { ref, computed, onMounted, watch } from 'vue';
import { useForm } from '@inertiajs/vue3';
import Chart from 'chart.js/auto';

const props = defineProps({
    user:Object,
    weeklyhours:Array,
    teaching:Array,
    prj:Array
})
const selectedYear = ref(String(new Date().getFullYear()));
const selectedSemester = ref('Spring');

const selectedOptionType = ref('class')
const selectedOption = ref(1)
const showDropdown1 = ref(false)
const showDropdown2 = ref(false)



const hrs = computed(() => {
    const hr = props.weeklyhours.find((hrs) => hrs.user_id == props.user.id && hrs.year == selectedYear.value && hrs.semester == selectedSemester.value);
    if (!hr) {
        console.error('Data not found or incorrect filter criteria.');
        return {}; // Return an empty object or handle the case appropriately
    }
    return hr;
});

const cls = computed(() => {
    return props.teaching.filter((cls) => {
            const userid = cls['user_id'];
            const semester = String(cls.semester);
            const year = String(cls.year);

            return (userid == props.user.id && semester == selectedSemester.value && year == selectedYear.value);
        })
});
const selectedCLS = computed(() => {
    const hr = props.teaching.find((hrs) => hrs.id == selectedOption.value);
    if (!hr) {
        console.error('Data not found or incorrect filter criteria.');
        return {}; // Return an empty object or handle the case appropriately
    }
    return hr;
});

const prj = computed(() => {
    return props.prj.filter((cls) => {
            const userid = cls['guide_id'];
            const semester = String(cls.semester);
            const year = String(cls.year);

            return (userid == props.user.id && semester == selectedSemester.value && year == selectedYear.value);
        })
});

const selectedPrj = computed(() => {
    const hr = props.prj.find((hrs) => hrs.id == selectedOption.value);
    if (!hr) {
        console.error('Data not found or incorrect filter criteria.');
        return {}; // Return an empty object or handle the case appropriately
    }
    return hr;
});

const yearOptions = computed(() => {
    const currentYear = new Date().getFullYear();
    const startYear = 2017;
    const years = [];

    for (let year = currentYear; year >= startYear; year--) {
        years.push(year);
    }

    return years;
});

const createPieCharts = (elementId, data) => {
    const ctx = document.getElementById(elementId).getContext('2d');

    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: data.map(item => item.label),
            datasets: [{
                data: data.map((item) => item.value), // Set a fixed value of 1 for each item
                backgroundColor: [ '#73B443', '#F48322'],
                borderColor: 'transparent',
            }],
        },
        options: {
            plugins: {
                legend: {
                    display: false, // Hide the legend
                },
                tooltip: {
                    callbacks: {
                        label: (context) => {
                            const value = context.parsed || 0; // Use parsed value for the hover value
                            return `Class Hours per Week: ${value}`;
                        } 
                    },
                },
            },
        },
    });
};
onMounted(async () => {

    createPieCharts('classHoursChart', cls.value.map(item => ({ label: item.classCode, value: item.classHours })));
    createPieCharts('projectHoursChart', prj.value.map(item => ({ label: item.prj_code, value:1 })));
});

// Watch for changes in selectedYear or selectedSemester and recreate the charts
watch([selectedYear, selectedSemester], () => {
    // Destroy existing charts if they exist
    // Replace 'classHoursChart' and 'projectHoursChart' with the actual IDs of your canvas elements
    Chart.getChart('classHoursChart')?.destroy();
    Chart.getChart('projectHoursChart')?.destroy();

    // Create new pie charts
    createPieCharts('classHoursChart', cls.value.map(item => ({ label: item.classCode, value: item.classHours })));
    createPieCharts('projectHoursChart', prj.value.map(item => ({ label: item.prj_code, value:1 })));
});

</script>