<template>
    <div class="container">
        <h3 class="text-start fw-bold" style="color: gray;">Courses</h3>
        <div class="col py-5">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" v-model="search">

            </form>    




                <!-- code for popup modals -->
                <!-- -------------------------------------START OF THE POP UP FOR THE ADD NEW COURSE BUTTON--------------------------------------------------------------- -->

                <div class="modal modal-dialog-scrollable fade" id="exampleModalToggle" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <form @submit.prevent="form.post('/addCourses')">
                            <div class="modal-dialog modal-xl modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel">Add New Course</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    <div class="form-outline mb-4 text-start">
                                        <label for="#form2Example1">Course Name</label>
                                        <input type="text" id="form2Example1" placeholder="Course Name"
                                            class="form-control my-2" v-model="form.course_name"/>

                                        <label for="#form2Example1">Course Leader</label>
                                        <input type="text" id="form2Example1" placeholder="Course Name"
                                            class="form-control my-2" v-model="form.course_leader_name" readonly/>
                                        <button class="btn" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bi bi-chevron-down text-black"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <li v-for="user in props.users" >
                                                    <a class="dropdown-item" @click.prevent="form.course_leader_name = user ? user.name : 'no value' , form.course_leader_id = user ? user.id : 'no value' ">{{ user.name }}</a>
                                                </li>
                                            </ul>

                                    </div>
                                    <h5 class="d-flex justify-content-start">Add Module for the Course</h5>
                                    <div class="container d-flext row ">
                                        <!-- card 1 -->
                                        <div class="card mx-2 my-3" style="width: 15rem;" v-for="(n, index1) in form.modules ">
                                            <div class="card-header">
                                                Semester {{ index1 }}
                                            </div>
                                                <div class="input-group" v-for="(x,index2) in n">
                                                    <input type="text" class="form-control" v-model="form.modules[index1][index2]">
                                                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="bi bi-chevron-down text-black"></i>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <li>
                                                            <button class="dropdown-item" @click.prevent="form.modules[index1][index2] = ''"> Select a module </button>
                                                        </li>
                                                        <li v-for="module in props.modules" :key="module.module_id">
                                                            <button class="dropdown-item" @click.prevent="form.modules[index1][index2] = String(module.module_code)">{{ module.module_code }}: {{ module.module_name }}</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                        </div>

                                    </div>
                                    <!-- button for confirming and cancelling -->
                                    <div class="d-flex justify-content-around py-4">
                                        <button type="submit" class="btn btn-success col-4" data-bs-target="#exampleModalToggle2"
                                            data-bs-toggle="modal" data-bs-dismiss="modal" >Add Course</button>
                                        <button class="btn btn-danger col-4" data-bs-toggle="modal"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- ------------------------------------END OF THE POP UP FOR THE ADD NEW COURSE BUTTON--------------------------------------------- -->

                <a class="btn btn-success w-50" data-bs-toggle="modal" href="#exampleModalToggle" role="button">+ Add New
                    Course</a>
            
        </div>
        <!-- code for cards -->
        <div class="container">
            <div class="row row-cols-4 g-2">
                <div class="col">
                    <div class="card" v-for="c in filteredCourse" >
                        <div class="card-body">
                            <h5 class="card-title">{{ c.course_name }}</h5>
                            <h5 class="card-title">Course Leader: {{ c.course_leader_name }}</h5>
                            <!-- code for viewing course content  -->
                            <!-- ----------------------------------------------------START CODE FOR THE POP UP  FOR THE VIEW BUTTON -------------------------------- -->


                            <div class="modal modal-dialog-scrollable fade" id="exampleModalTogglee1" aria-hidden="true"
                                aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                <div class="modal-dialog modal-xl modal-dialog-centered">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalToggleLabel">Comoputer Science</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form @submit.prevent="form2.post('/editCourses')">

                                            <div class="form-outline mb-4 text-start">
                                                <label for="#form2Example1">Course Name</label>
                                                <input type="text" id="form2Example1" class="form-control my-2" v-model="form2.course_name"/>

                                                <label for="#form2Example1">Course Leader</label>
                                                <input type="text" id="form2Example1" placeholder="Course Name"
                                                    class="form-control my-2" v-model="form2.course_leader_name" readonly/>
                                                <button class="btn" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="bi bi-chevron-down text-black"></i>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <li v-for="user in props.users" >
                                                            <a class="dropdown-item" @click.prevent="form2.course_leader_name = user ? user.name : 'no value' , form2.course_leader_id = user ? user.id : 'no value' ">{{ user.name }}</a>
                                                        </li>
                                                    </ul>

                                            </div>
                                            <h5 class="d-flex justify-content-start">Add Module for the Course</h5>
                                            <div class="container d-flext row ">
                                                <!-- card 1 -->
                                                <div class="card mx-2 my-3" style="width: 15rem;" v-for="(n, index1) in form2.modules ">
                                                    <div class="card-header">
                                                        Semester {{ index1 }}
                                                    </div>
                                                        <div class="input-group" v-for="(x,index2) in n">
                                                            <input type="text" class="form-control" v-model="form2.modules[index1][index2]">
                                                            <button class="btn" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="bi bi-chevron-down text-black"></i>
                                                            </button>
                                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <li>
                                                                    <button class="dropdown-item" @click.prevent="form2.modules[index1][index2] = ''"> Select a module </button>
                                                                </li>
                                                                <li v-for="module in props.modules" :key="module.module_id">
                                                                    <button class="dropdown-item" @click.prevent="form2.modules[index1][index2] = String(module.module_code)">{{ module.module_code }}: {{ module.module_name }}</button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                </div>

                                            </div>
                                            <!-- button for confirming and cancelling -->
                                            <div class="d-flex justify-content-around py-4">
                                                <button type="submit" class="btn btn-success col-4" data-bs-target="#exampleModalToggle2"
                                                    data-bs-toggle="modal" data-bs-dismiss="modal" >Confirm</button>
                                                <button class="btn btn-danger col-4" data-bs-toggle="modal"
                                                    data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                            </form>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ----------------------------------------------------END CODE FOR THE POP UP  FOR THE VIEW BUTTON -------------------------------- -->

                            <a class="btn btn-success my-2 d-flex align-item-center justify-content-center"
                                data-bs-toggle="modal" href="#exampleModalTogglee1" role="button" @click.prevent="form2.id=c.id, form2.course_name=c.course_name, form2.course_leader_id =c.course_leader_id, form2.course_leader_name=c.course_leader_name, form2.modules=JSON.parse(c.semesters)">Edit</a>

                            <!-- ------------------popup for delete option-------------------------------------------- -->
                            <div class="modal fade" :id='`delete_${c.id}`' aria-hidden="true"
                                aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                <form @submit.prevent="confirmDelete(c.id)">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalToggleLabel">Delete Course</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Are you sure?</h4>
                                            </div>
                                            <!-- button for confirming and cancelling -->
                                            <div class="d-flex justify-content-around py-4">
                                                <button class="btn btn-success col-4" data-bs-target="#exampleModalToggle2"
                                                    data-bs-toggle="modal" data-bs-dismiss="modal" >Confirm</button>
                                                <button class="btn btn-danger col-4" data-bs-target="#exampleModalToggle2"
                                                    data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <a class="btn btn-danger my-2 d-flex justify-content-center align-item-center"
                                data-bs-toggle="modal" :href="`#delete_${c.id}`" role="button">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</template>

<script setup>
import { ref, computed } from 'vue';
import { useForm } from '@inertiajs/vue3';

const search = ref('');

const props = defineProps({
    course: Array,
    modules: Array,
    users: Array,
})

const form = useForm({
    course_name: '',
    course_leader_name: '',
    course_leader_id: '',
    modules: ({
                    1: ['', '', '','','',''],
                    2: ['', '', '','','',''],
                    3: ['', '', '','','',''],
                    4: ['', '', '','','',''],
                    5: ['', '', '','','',''],
                    6: ['', '', '','','',''],
                    7: ['', '', '','','',''],
                    8: ['', '', '','','','']
            })
})
const form2 = useForm({
    id: '',
    course_name: '',
    course_leader_name: '',
    course_leader_id: '',
    modules: ({
                    1: ['', '', '','','',''],
                    2: ['', '', '','','',''],
                    3: ['', '', '','','',''],
                    4: ['', '', '','','',''],
                    5: ['', '', '','','',''],
                    6: ['', '', '','','',''],
                    7: ['', '', '','','',''],
                    8: ['', '', '','','','']
            })
})


const filteredCourse = computed(() => {
  const query = search.value.toLowerCase();

  return props.course.filter((clas) => {
    const course_name = String(clas.course_name).toLowerCase();
    const course_leader_name = String(clas.course_leader_name).toLowerCase();

    return (course_name.includes(query) || course_leader_name.includes(query));
  });
});

const confirmDelete = (courseID) => {
    
    form.delete(`/deleteCourse/${courseID}`)
        .then(() => {
            // If the deletion is successful, reload the page or update the user list.
            usePage().reload();
        })
        .catch((error) => {                
            // Handle any error that may occur during deletion
            console.error('Error deleting user', error);
        });
};

</script>