<template>
    <div class="container">
        <div class="row">
            <h3 class="text-start py-4 fw-bold" style='color: gray;'>Weekly Hours</h3>
            <div class="col py-5" >
                <div class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" v-model="search">

                    <div class="btn-group mx-3">
                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ selectedYear }}
                        </button>
                        <ul class="dropdown-menu">
                            <li v-for="year in yearOptions"><button class="dropdown-item" type="button"  @click="selectedYear = String(year)">{{ year }}</button>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group mx-3">
                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ selectedSemester }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button" @click="selectedSemester = 'Spring'">Spring</button>
                            </li>
                            <li><button class="dropdown-item" type="button" @click="selectedSemester = 'Autumn'">Autumn</button>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div >
                <table class="table">
                    <thead>
                        <tr >
                            <th scope="col" style="background-color: orange;" class="text-white">Tutor</th>
                            <th scope="col" style="background-color: orange;" class="text-white">Class Hours</th>
                            <th scope="col" style="background-color: orange;" class="text-white">PRJ Groups</th>
                            <th scope="col" style="background-color: orange;" class="text-white">Total Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(weeklyhour, index) in paginatedWeeklyHours" :key="index">
                        <td scope="row">{{ weeklyhour.user_name }}</td>
                        <td>{{ weeklyhour.class_hours }}</td>
                        <td>{{ weeklyhour.prj_groups }}</td>
                        <td>{{ weeklyhour.class_hours + weeklyhour.prj_groups }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                        <li class="page-item" :class="{ disabled: currentPage === 1 }">
                            <a class="page-link" href="#" @click="goToPage(currentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" v-for="page in totalPages" :key="page" :class="{ active: currentPage === page }">
                            <a class="page-link" href="#" @click="goToPage(page)">{{ page }}</a>
                        </li>
                        <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                            <a class="page-link" href="#" @click="goToPage(currentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        </ul>
                    </nav>
                </div>
            </div>



        </div>
    </div>
</template>

<script setup>
import { ref, computed } from 'vue';

const search = ref('');
const selectedYear = ref(String(new Date().getFullYear()));
const selectedSemester = ref('Spring');

const itemsPerPage = 10; // Set the number of items per page
const currentPage = ref(1);

const paginatedWeeklyHours = computed(() => {
  const start = (currentPage.value - 1) * itemsPerPage;
  const end = start + itemsPerPage;
  return filteredweeklyhours.value.slice(start, end);
});

const totalPages = computed(() => Math.ceil(filteredweeklyhours.value.length / itemsPerPage));

function goToPage(page) {
  if (page >= 1 && page <= totalPages.value) {
    currentPage.value = page;
  }
}

const props = defineProps({
    weeklyhours: Array
})

const yearOptions = computed(() => {
    const currentYear = new Date().getFullYear();
    const startYear = 2017;
    const years = [];

    for (let year = currentYear; year >= startYear; year--) {
        years.push(year);
    }

    return years;
});

const filteredweeklyhours = computed(() => {
  const query = search.value.toLowerCase();

  return props.weeklyhours.filter((weeklyhour) => {
    const userName = String(weeklyhour.user_name).toLowerCase();
    const classHours = String(weeklyhour.class_hours).toLowerCase();
    const prjGroups = String(weeklyhour.prj_groups).toLowerCase();
    const semester = String(weeklyhour.semester);
    const year = String(weeklyhour.year);

    return (userName.includes(query) || classHours.includes(query) || prjGroups.includes(query)) && year==selectedYear.value && semester == selectedSemester.value;
  });
});
</script>