<template>
  <div class="container-fluid">
        <div class="row flex-nowrap">
          <div class="col-auto col-md-3 col-xl-3 px-sm-2 px-0 bg-light">


        <template v-if="user.role === 'user'">


          <div class="d-flex flex-column align-items-center align-items-sm-center px-3 pt-2 text-white min-vh-100">

            <div class="container text-center">
                <img src="../Components/logo.png" alt="hugenerd" width="150" 
                    class="my-5">
                  
                <h3 class="text-black fw-bold">{{ user.name }}</h3>
            </div>

            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-center">
                        <li class="nav-item">
                              <Link href="/" class="nav-Link" :class="{ 'nav-Link-active': url === 'user/project' }">
                                <button type="button" class="btn custom-btn">Allocations</button>
                              </Link>
                        </li>
                        <li class="nav-item">
                              <Link href="/user/preferences" class="nav-Link" :class="{ 'nav-Link-active': url === 'user/project' }">
                                    <button type="button" class="btn custom-btn">Preferences</button>
                              </Link>
                        </li>
                        <li class="nav-item">
                              <Link href="/user/coordinator" class="nav-Link" :class="{ 'nav-Link-active': url === 'user/project' }">
                                    <button type="button" class="btn custom-btn">Module Coordinator</button>
                              </Link>
                        </li>
                        <li class="nav-item">
                              <Link href="/user/leader" class="nav-Link" :class="{ 'nav-Link-active': url === 'user/project' }">
                                    <button type="button" class="btn custom-btn">Course Leader</button>
                              </Link>
                        </li>
                        <li>

                            <div class="col custom-mb d-flex">
                              
                              <Link href="/user/Settings" class="nav-Link" :class="{ 'nav-Link-active': url === 'user/project' }">
                                <img src="../Components/setting-icon.png" alt="setting" class="mx-5" height="30" width="30">

                              </Link>
                             

                                <Link href="/logout" method="delete" >
                                <img src="../Components/power-icon.png" alt="logout" class="mx-5" height="30" width="30">
                                </Link>
                            </div>
                        </li>
                    </ul>

          </div>


        </template>
        
        <template v-else-if="user.role == 'admin'">
          
                <div class="d-flex flex-column align-items-center align-items-sm-center px-3 pt-2 text-white min-vh-100">

                    <div class="container text-center">
                        <img src="../Components/logo.png" alt="hugenerd" width="150" 
                            class="my-5">
                          
                        <h3 class="text-black fw-bold">ADMIN</h3>
                  </div>

                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-center">
                        <li class="nav-item">
                              <Link href="/" class="nav-Link" :class="{ 'nav-Link-active': url === 'admin/project' }">
                                <button type="button" class="btn custom-btn">Weekly Hours</button>
                              </Link>
                        </li>
                        <li class="nav-item">
                              <Link href="/admin/Allocations" class="nav-Link" :class="{ 'nav-Link-active': url === 'admin/project' }">
                                    <button type="button" class="btn custom-btn">Allocations</button>
                              </Link>
                        </li>
                        <li class="nav-item">
                            <Link href="/admin/Classes" class="nav-Link" :class="{ 'nav-Link-active': url === 'admin/project' }">
                                    <button type="button" class="btn custom-btn">Classes</button>
                            </Link>
                        </li>
                        <li class="nav-item">
                          <Link href="/admin/Users" class="nav-Link" :class="{ 'nav-Link-active': url === 'admin/project' }">
                                    <button type="button" class="btn custom-btn">Users</button>
                                </Link>
                        </li>
                        <li class="nav-item">
                          <Link href="/admin/Prj" class="nav-Link" :class="{ 'nav-Link-active': url === 'admin/project' }">
                                    <button type="button" class="btn custom-btn">PRJ Groups</button>
                                </Link>
                        </li>
                        <li class="nav-item">
                          <Link href="/admin/Courses" class="nav-Link" :class="{ 'nav-Link-active': url === 'admin/project' }">
                                    <button type="button" class="btn custom-btn">Courses</button>
                                </Link>
                        </li>
                        <li class="nav-item pb-5">
                          <Link href="/admin/Modules" class="nav-Link" :class="{ 'nav-Link-active': url === 'admin/project' }">
                                    <button type="button" class="btn custom-btn">Modules</button>
                                </Link>
                        </li>
                        <li>

                            <div class="col custom-mb d-flex">
                              
                              <Link href="/admin/Settings" class="nav-Link" :class="{ 'nav-Link-active': url === 'admin/project' }">
                                <img src="../Components/setting-icon.png" alt="setting" class="mx-5" height="30" width="30">

                              </Link>
                             

                                <Link href="/logout" method="delete" >
                                <img src="../Components/power-icon.png" alt="logout" class="mx-5" height="30" width="30">
                                </Link>
                            </div>
                        </li>
                    </ul>

                </div>

        </template>
      </div>

<div class="col py-3">
    <!-- <RouterView/> -->
    <slot></slot>
</div>


</div>
</div> 
      
  <div v-if="error" class="text-red-600">
    {{ error }}
  </div>
  <div v-if="flashSuccess" class="w-full bg-green-500">
    <div class="container-fypms py-3 font-semibold text-white">
      {{ flashSuccess }}
    </div>
  </div>

</template>

<style>
.custom-mb {
    margin-top: 50px;
}

.custom-btn {
    width: 20rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Increase specificity to override Bootstrap styles */
    background-color: transparent !important;
    color: black !important;
}

.custom-btn:hover {
    background-color: green !important;
    color: white !important;
    font-weight: bold !important;
}

.custom-btn:active {
    background-color: green !important;
    color: white !important;
    font-weight: bold !important;
}

.nav-link:active {
    background-color: green !important;
    color: white !important;
    font-weight: bold !important;
}

</style>


<script setup>
import { computed } from 'vue'
import { Link, usePage } from '@inertiajs/vue3';



const page = usePage()
const flashSuccess = computed(
  () => page.props.flash.success
)

const error = computed(
  () => page.props.error
)

const user = computed(
  () => page.props.user
)

const url = computed(
  () => page.props.url
)
</script>





