<template>
    <div class=" w-full h-screen flex justify-center items-center p-3">
        <div class="border w-full md:w-[500px] bg-blue-950 rounded-xl">
            <form @submit.prevent="
                form.transform((data) => ({
                    ...data,
                    email: data.role == 'student' ? data.email + '.gcit@rub.edu.bt' : data.email,
                }))
                    .post('/forgotpass')
                ">


                <div class="w-96  mx-auto mt-10">
                    <img src="/fypms_logo.png" class="h-9" />
                    <div>
                        <p class="text-white">To reset your password, submit your SID if you are students and submit
                            your email if you are faculty or Admin below.</p>
                    </div>
                    <div class="my-5 ">
                        <label for="role" class="text-white">Role</label>
                        <br>
                        <select class="w-full rounded-md" id="role" v-model="form.role">
                            <option value="student">Student</option>
                            <option value="lecturer">Lecturer</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <div class="my-5">
                        <label for="search" class="text-white">Search By</label>
                        <br>
                        <div>
                            <select class="w-full rounded-md">
                                <option value="student">SID</option>
                                <option value="lecturer">Email</option>

                            </select>
                        </div>
                    </div>

                    <div class="my-5">
                        <button role="submit" class="btn-secondary">Submit</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="login-container">
            <div class="login-box">
                <form @submit.prevent="
                    form.transform((data) => ({
                        ...data,
                        email: data.role == 'student' ? data.email + '.gcit@rub.edu.bt' : data.email,
                    }))
                        .post('/login')
                    ">
                </form>
            </div>
        </div>
    </div>
</template>
 
<script setup>
import { useForm } from '@inertiajs/vue3';

const form = useForm({
    role: 'student',
    email: '',
    password: ''
});
</script>
 